@model IEnumerable<TrendsValley.Models.Models.Category>


<link href="~/css/InProduct.css" rel="stylesheet" />

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="fa-solid fa-bars"></span>
            </label> Categories
        </h2>
        <div class="user-wrapper">
            <img src="img/admin.png" width="70px" alt="">

            <div>
                <h4>Admin Account</h4>
                <small>owner</small>
            </div>
        </div>
    </header>
    <main>

        @if (Model.Count() == 0)
        {
            <div class="alert alert-warning
        	            text-center p-5"
                 role="alert">
                <br>
                There is no Category in the database
            </div>
        }
        else
        {
            <!-- LIST OF ALL Products -->
            <h4 class="mt-5">All Categories</h4>
            <table class="table table-hover table-striped table-bordered shadow">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Category Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var i = 1;
                    }
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@category.Category_Name</td>
                            <td>
                                <a class="btn btn-warning" asp-action="Upsert" asp-route-Id="@category.Category_id">Edit</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-Id="@category.Category_id">Delete</a>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>

            </table>

            <div class="input-group my-3">
                <a class="btn button1" asp-action="Upsert">Add Category</a>
            </div>

        }
    </main>

</div>