@model ResetPasswordViewModel
<br />
<center>
<div class="row col-md-12">
    <center>
            <h2 class="text-center">Reset New Password</h2>

            <img src="https://cdn-icons-png.flaticon.com/512/5410/5410004.png" style="width:225px;" />
        </center>
    <form method="post">
        <input asp-for="Email" hidden />
        <div class=" p-2 rounded">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <div class="col-md-12">
                        <input asp-for="NewPassword" class="form-control w-50 text-center" placeholder="Enter The New password" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-12">
                        <input asp-for="ConfirmPassword" class="form-control w-50 text-center" placeholder="Confirm The New password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group pt-3">

            <div class="col-md-6">
                <button class="btn btn-success form-control" type="submit">
                    Change Passowrd
                </button>
            </div>
        </div>
    </form>

</div>
<br />
</center>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}