<br />
<center>
    <img src="https://static-00.iconduck.com/assets.00/success-icon-1024x1024-p8wk1o4x.png" style="width:225px;" />
    <br />
    <br />
<h1>Reset Password Confirmation</h1>
<br />
<h5>
    Your Password has been reset. 
</h5>
<br />
     <a class="btn btn-success" asp-controller="Auth" asp-action="SignIn">Click here to Log in</a>
</center>
<br />
<br />

