@using TrendsValley.Models.ViewModels
@model ForgotPasswordViewModel
<br />
<center>
<div class="row col-md-10">
    <div class="row">
        <div class="col-md-12">
            <form asp-controller="Auth" asp-action="ForgotPassword" method="post" role="form">
                    <img src="https://th.bing.com/th/id/R.4b5e1d4a4c56c6aff4293fbb37d41263?rik=3JYbWACbj6PZbA&pid=ImgRaw&r=0" style="width:225px;" />

                <h2>Enter your email.</h2>
                <br />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <div class="col-md-10">
                            <input asp-for="Email" class="form-control text-center w-75" placeholder="Enter Email Address" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <br />

                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success form-control w-50">Next</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
</center>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}