@model RegisterViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> signinManager
<div class="row col-md-10 offset-md-1">
    <h1 class="text-primary text-center pt-2">Register</h1>
    <form method="post" asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">
        <div class="border p-2 rounded">
            <p class="text-center">Create a new account</p>
            <div asp-validation-summary="All" class="text-danger"></div>
           
            <div class="form-group">
                <label class="col-12">First Name</label>
                <div class="col-md-12">
                    <input asp-for="appUser.Fname" class="form-control" />
                    <span asp-validation-for="appUser.Fname" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-12">Last Name</label>
                <div class="col-md-12">
                    <input asp-for="appUser.Lname" class="form-control" />
                    <span asp-validation-for="appUser.Lname" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="appUser.Email" class="col-12"></label>
                <div class="col-md-12">
                    <input asp-for="appUser.Email" class="form-control" />
                    <span asp-validation-for="appUser.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-12"></label>
                <div class="col-md-12">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-12"></label>
                <div class="col-md-12">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-12">State List</label>
                <select asp-for="appUser.StateId" class="form-select" asp-items="@Model.Statelist">
                    <option disabled selected>--Select State--</option>
                </select>
                <span asp-validation-for="appUser.StateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="col-12">City List</label>
                <select asp-for="appUser.CityId" class="form-select" asp-items="@Model.CityList">
                    <option disabled selected>--Select City--</option>
                </select>
                <span asp-validation-for="appUser.CityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="appUser.PostalCode" class="col-12"></label>
                <div class="col-md-12">
                    <input asp-for="appUser.PostalCode" class="form-control" />
                    <span asp-validation-for="appUser.PostalCode" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="form-group">
            <label asp-for="appUser.PhoneNumber" class="col-12"></label>
            <div class="col-md-12">
                <input asp-for="appUser.PhoneNumber" class="form-control" />
                <span asp-validation-for="appUser.PhoneNumber" class="text-danger"></span>
            </div>
        </div>
   
        <div class="form-group pt-3">
                
                <div class="col-md-6 offset-md-3">
                    <button class="btn btn-success form-control" type="submit">
                        Register
                    </button>
                </div>
            </div>
    </form>
  
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}