@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Global Styles */

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

.krkr {
    font-size: 14px;
    font-weight: 300;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

    .krkr:hover {
        box-shadow: 10px 10px 54px rgb(72, 62, 221, 0.1);
    }

body {
    width: 100%;
}

/*Hero */
#hero {
    background-image: url("/pics/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

    #hero h4 {
        padding-bottom: 15px;
    }

    #hero h1 {
        color: #088178;
    }

    #hero button {
        background-image: url("/pics/button.png");
        background-color: transparent;
        color: #088178;
        border: 0;
        padding: 14px 80px 14px 65px;
        background-repeat: no-repeat;
        cursor: pointer;
        font-weight: 700;
        font-size: 15px;
    }
        #hero button a {
            text-decoration: none;
            color: #088178
        }

/*feature*/

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgb(72, 62, 221, 0.1);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

.products-section {
    text-align: center;
}

.row {
    margin-bottom: 2%;
}

.cards {
    text-align: left;
    padding-top: 5px;
}

.price {
    display: inline;
    font-size: 20px;
    color: #04AA6D;
    left: 0px;
}

.company {
    margin-bottom: 0px;
    color: #A09E9F;
}

.but-button {
    text-align: end;
    align-self: end;
}

.star {
    color: #FDB316;
}

.price {
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.buy-button {
    position: absolute;
    bottom: 5px;
    margin-bottom: 0px;
    border: none;
    right: 10px;
    background-color: #04AA6D;
    transition: 0.5s;
}

.buy-button:hover {
    background-color: #04AA6D;
    scale:  1.1;
}

.description {
    font-size: 20px;
    width: 100%;
    height: max-content;
    margin-bottom: 0px;
}

.rating {
    position: relative;
    top: 0px;
    height: max-content;
    margin-bottom: 20px;
}

.repair-section-group {
    align-content: center;
    position: absolute;
    text-align: center;
    color: white;
}

.repair-h {
    font-size: 30px;
}

.repair-p {
    font-size: 60px;
}

.repair-offer {
    color: red;
}

.repair-button {
    background-color: white;
    color: black;
    border: none;
    transition: 0.5s;
}

.repair-button:hover {
    background-color: white;
    scale: 1.5;
    color: black;
    border: none;
}

.collection-group {
    align-content: center;
}

.firstcard-text {
    /*Not Worked*/
/*    font-family: "Oswald", Roboto;*/
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 5px;
}

.firstcard-title {
    margin-bottom: 0px;
    font-size: 20px;
}

.collection-group {
    align-content: center;
    color: white;
}

.firstcard-button {
    margin-top: 5px;
    border: none;
    background-color: #04aa6d;
}

.firstcard-button:hover {
    background-color: transparent;
    border: 1px solid white;
}

.secondcard-button {
    border: 1px solid white;
    background-color: transparent;
}

.secondcard-button:hover {
    background-color: #04aa6d;
    border: none;
}

.thirdcard-title {
    width: 100%;
    font-size: 60px;
    font-weight: 900;
}

.attention-collection {
    color:red;
    font-size: 25px;
    width: 100%;
}

.details-group {
    color: white;
}

.email-input {
    width: 60%;
    height: 60%;
    position: relative;
    display: inline;
}

.signup-button {
    height: 57px;
    position: absolute;
    width: 8%;
    border-radius: 0px;
    background-color: #04AA6D;
    border: none;
    transition: 0.5ms;
}

.signup-button:hover {
    opacity: 0.8;
    background-color: #04AA6D;
    border: none;
}

.signup-button:active {
    opacity: 0.5;
}

.email-group {
    align-content: center;
}

.logo-col {
    margin-top: 0px;
    padding: 10px;
}

a {
    color: black;
    text-decoration-line: none;
    text-decoration: none;
    color: black;
}

.about-col {
    text-align: center;
    color: black;
}

.app-store-logo {
    width: 100%;
    height: 50px;
    background-size: cover;
    display: inline;
}

.payment-method {
    width: 100%;
}

.app-store-col,.google-play-col {
    padding: 0px
}

.google-play-col {
    margin-left: 2px;
}