html {
  font-size: 14px;
  font-family: Roboto;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Not Worked*/
/*@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');*/

.nav-button {
    position: relative;
    width: fit-content;
    transition: 0.5s color 0.3s;
    vertical-align: middle;
}

.nav-button:hover {
}

.nav-button::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 0%;
    background: blue;
    left: 0;
    bottom: 0;
    transition: 0.5s
}

.nav-button:hover::before {
    width: 100%;   
}

.nav-arrow span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.nav-arrow:hover span {
    padding-right: 25px;
}

 .nav-button:hover span:after {
     opacity: 1;
     right: 0;
 }

.search-bar {
    background-color: white;
    background-image: url('../pics/icons8-search.svg');
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 30px;
    background-size: 30px 30px;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.hero-section {
    position: relative;
    margin-bottom: 50px;
}

.heroStart {
    font-size: clamp(15px, 2vw, 60px);
    margin-bottom: 0px;
}

.hero-head {
/*    width: max-content;*/
/*    font-size: clamp(12px, 60px, 50px);*/
/*    font-size: inherit;*/
    font-size: clamp(15px, 3vw, 60px);
    margin-bottom: 0px;
}

.hero-attention {
    color: #04AA6D;
    font-size: 58px;
    font-size: clamp(18px, 4vw, 60px);
}

.offer {
    color: #6A6F6E;
    font-size: clamp(8px, 1.5vw, 60px);
    margin-bottom: 5px;
}

.hero-button {
    border: none;
    cursor: pointer;
    font-size: clamp(15px, 1.5vw, 60px) !important;
    border-radius: 12px;
    transition: all 0.5s ease;
}

.hero-button:hover {
    scale: 1.1;
}

.freeship-card {
    align-content: center;
    text-align: center;
    vertical-align: central;
    padding: 5px;
    margin-left: 5%;
    width: 100px;
    height: 100%;
    border-radius: 15px;
    transition: all 0.2s ease;
}

.first-card {
    margin-left: 0px;
    width: 50%;
    height: 100%;
}

.benefits-card-p {
    width: 100%;
    margin: 5px 0px 5px 0px;
    border-radius: 4px;
    font-size: clamp(10px, 1vw, 40px);
    white-space: nowrap;
}

.p1 {
    background-color: #A6A6FF;
}

.p2 {
    background-color: #FFE177;
}

.p3 {
    background-color: #E3584B;
}

.p4 {
    background-color: #4EB7A2;
}

.p5 {
    background-color: #9FD4FE;
}

.p6 {
    background-color: #FBB0B7;
}

.benefits-img {
    width: 60%;
}

a {
    text-decoration-line: none;
    color: black;
}

.freeship-card:hover {
    box-shadow: 1px 1px 5px black;
}

.products-section {
    text-align: center;
    margin-bottom: 0px !important;
}

.row {
    margin-bottom: 2%;
}

.cards {
    text-align: left;
    padding-top: 5px;
}

.price {
    display: inline;
    font-size: 20px;
    color: #04AA6D;
    left: 0px;
}

.company {
    margin-bottom: 0px;
    color: #A09E9F;
}

.but-button {
    text-align: end;
    align-self: end;
}

.star {
    color: #FDB316;
}

.price {
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.buy-button {
    position: absolute;
    bottom: 5px;
    margin-bottom: 0px;
    border: none;
    right: 10px;
    background-color: #04AA6D;
    transition: 0.5s;
}

.buy-button:hover {
    background-color: #04AA6D;
    scale: 1.1;
}

.description {
    font-size: 20px;
    width: 100%;
    height: max-content;
    margin-bottom: 0px;
}

.rating {
    position: relative;
    top: 0px;
    height: max-content;
    margin-bottom: 20px;
}

.repair-section-group {
    align-content: center;
    position: absolute;
    text-align: center;
    color: white;
    padding-top: 0px;
/*    padding-bottom: 0px;*/
}

.repair-h {
/*    font-size: 30px;*/
    font-size: clamp(15px, 1.563vw, 50px)
}

.repair-p {
/*    font-size: 60px;*/
    font-size: clamp(15px, 3.125vw, 50px);
}

.repair-offer {
    color: red;
}

.repair-button {
    background-color: white;
    color: black;
    border: none;
    font-size: clamp(2px, 2vw, 40px);
    border-radius: 12px;
    transition: all 0.5s ease;
}

.repair-button:hover {
    background-color: white;
    scale: 1.5;
    color: black;
    border: none;
}

.collection-group {
    align-content: center;
}

.firstcard-text {
    /*Not Worked*/
    /*    font-family: "Oswald", Roboto;*/
/*    font-size: 50px;*/
    font-weight: 900;
    margin-bottom: 5px;
    font-size: clamp(15px, 2.604vw, 60px);
}

.firstcard-title {
    margin-bottom: 0px;
/*    font-size: 20px;*/
    font-size: clamp(15px, 1.042vw, 50px);
}



.collection-group {
    align-content: center;
    color: white;
}

.firstcard-button {
    margin-top: 5px;
    border: none;
    background-color: #04aa6d;
    font-size: clamp(10px, 1.2vw, 50px);
}

.firstcard-button:hover {
    background-color: transparent;
    border: 1px solid white;
}

.secondeCardText {
    font-size: clamp(px, 1vw, 50px);
}

.secondcard-button {
    border: 1px solid white;
    font-size: clamp(10px, 1.2vw, 50px);
    background-color: transparent;
}

.secondcard-button:hover {
    background-color: #04aa6d;
    border: none;
}

.thirdcard-title {
    width: 100%;
    font-size: clamp(35px, 3.125vw, 50px); 
    font-weight: 900;
}

.attention-collection {
    color: red;
    font-size: 25px;
    font-size: clamp(25px, 1.302vw, 50px);
    width: 100%;
}

.details-group {
    color: white;
    font-size: clamp(10px, 1.042vw, 50px);
}

.textResponsive {
    font-size: clamp(10px, 6vw, 50px);
}

.email-input {
    width: 60%;
    height: 60%;
    position: relative;
    display: inline;
    font-size: clamp(5px, 1.042vw, 50px);
    width: clamp(fit-content, 2vw, 500px);
}

.signup-button {
    /*    height: 60px;*/
    height: clamp(51px, 1vw, 60px);
    position: absolute;
    border-radius: 0px;
    background-color: #04AA6D;
    border: none;
    transition: 0.5ms;
    padding: 10px;
}

.signup-button:hover {
    opacity: 0.8;
    background-color: #04AA6D;
    border: none;
}

.signup-button:active {
    opacity: 0.5;
}

.email-group {
    align-content: center;
}

.logo-col {
    margin-top: 0px;
    padding: 10px;
}

a {
    color: black;
    text-decoration-line: none;
    text-decoration: none;
    color: black;
}

.about-col {
    text-align: center;
    color: black;
}

.app-store-logo {
    width: 100%;
    height: 50px;
    background-size: cover;
    display: inline;
}

.payment-method {
    width: 100%;
}

.app-store-col,.google-play-col {
    padding: 0px
}

.google-play-col {
    margin-left: 2px;
}

.filter-checkbox-label {
    display: inline;
}



/*Header*/
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgb(0, 0, 0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 10px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::before {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/*=======================Transition for under line underline of navlinks=======================*/

/*#navbar li a::before {
    content: '';
    position: absolute;
    width: 0%;
    background: #088178;
    left: 0;
    bottom: 0;
    transition: all 0.5s ease-in-out;
}

#navbar li a:hover::before {
    width: 30%;
}*/


.search__title {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #ff8b88;
}

.search__input {
    width: 100%;
    padding: 12px 240px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 17px;
    font-weight: 600;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
      color: rgba(87, 87, 86, 0.8);
      letter-spacing: 1.5px;
  }

/*=======================adjust for the register and login underline=======================*/

/*.nav-link {
    padding: 0px; 
}*/

.emailInput,
.passwordInput {
    margin-bottom: 10px;
}

.signInForm {
    position:relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 60%;
    height: 100%;
}

.singInEmail,
.signInPassword {
    width: 100%;
    margin-top: 10px;
}

.formContainer {
    border-radius: 10px;
    height: 350px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.test {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-57%, -5%);
}

/*=======================for website theme=======================*/

input:focus {
    border-color: #04AA6D !important; /* Change border color */
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5) !important; /* Change focus ring */
    outline: none !important; /*Remove default outline */
}

input[type="checkbox"] {
    accent-color: #04AA6D;
}

.col-sm-12 {
    margin-top: 15px;
}

.col-lg-3 .col-sm-12 {
    text-align: center;
}