﻿<center>
    <h2>Your Order Has Been Placed</h2>
    <img src="https://static.vecteezy.com/system/resources/previews/042/679/203/non_2x/order-completed-package-order-via-mobile-app-service-successfully-received-concept-illustration-flat-design-simple-modern-graphic-element-for-landing-page-ui-infographic-icon-vector.jpg" />
    <h3>Thank you for shopping with us!</h3>
</center>