<div style="margin-bottom:80px;">
﻿<center>
    <img src="https://static-00.iconduck.com/assets.00/success-icon-1024x1024-p8wk1o4x.png" style="width:205px;" />
    <br />
    <br />
    <h4>Your Order Has Been Placed and will reach you in the next 48 Hours</h4>
    <br />
    <h3>Thank you for shopping with us!</h3>
    <br />
    <a class="btn btn-outline-success" asp-controller="home" asp-action="products">Continue Shopping</a>
</center>
</div>