@functions {
    public string IsActive(string controller, params string[] actions)
    {
        var currentController = ViewContext.RouteData.Values["controller"].ToString();
        var currentAction = ViewContext.RouteData.Values["action"].ToString();

        return currentController == controller && actions.Contains(currentAction)
            ? "active"
            : "hover:active";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrendsValley</title>

    <!--Start Of Reuired Links-->

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.3/dist/tailwind.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/TrendsValley.styles.css" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />

    <!--End Of Reuired Links-->
</head>
<body>
    <!--Start Of Navbar-->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid p-2">
            <!--Start Of Logo-->

            <a class="navbar-brand m-auto p-2" asp-area="customer" asp-controller="Home" asp-action="index">
               &nbsp; <img src="~/pics/logo.png" class="img-fluid" alt="logo" style="width:190px;margin-left:-50px;margin-bottom:-50px; margin-top:-90px">
            </a>

            <!--End Of Logo-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse text-start" id="navbarSupportedContent" style="text-align: end;">

                <!-- Start of Search -->
                <ul class="navbar-nav me-auto">

                <div class="equal-height w-sm-25">
                    <form asp-controller="Home" asp-action="Search" method="get">
                        <div class="search__container w-lg-100 w-sm-25" style="display: flex; justify-content: left;">
                            <input class="search__input w-sm-25" type="search"
                                   placeholder="Need Something ?"
                                   aria-describedby="basic-addon2"
                                   aria-label="Need Something ?"
                                   name="searchTerm"> 
                            <button type="submit" class="search__button" hidden>Search</button>
                        </div>
                    </form>
                </div>
                </ul>
                <!-- End of Search -->

                <ul class="d-flex navbar-nav">
                    <!--Start Of Links-->
                    <li class="nav-link navShop p-2"><a asp-area="customer" asp-controller="Home" asp-action="Index" class="@IsActive("Home","Index")">Home</a></li>

                    <li class="nav-link p-2"><a asp-area="customer" asp-controller="Home" asp-action="products" class="@IsActive("Home","products")">Shop</a></li>

                    <partial name="_LoginPartialView" />

                    <!--End Of Links-->
                </ul>

            </div>
        </div>
    </nav>

    <!--End Of Navbar-->


    <div>
        <main role="main" class="pb-3">
            @RenderBody()
            <button class="chat-button" onclick="toggleChat()">
                💬
            </button>

            <!-- Start of Chat Window -->
            <div class="chat-container" id="chatBox">
                <div class="chat-header">
                    Chat Support
                    <button class="close-button" onclick="toggleChat()">✖</button>
                </div>
                <iframe src="https://copilotstudio.microsoft.com/environments/Default-5d3edc64-3c81-4c40-89c6-d3f5e1095f71/bots/cr1c4_faqBot/webchat?__version__=2" frameborder="0" style="width: 100%; height: 100%;"></iframe>
            </div>
            <!-- End of Chat Window -->

        </main>
    </div>

    <!--Start Of Footer-->
    <div class="container-fluid border-top ">
        <div class="row mb-0">
            <div class="col-lg-3 col-sm-12 text-center border-end">
                <img src="~/pics/logo.png" style="margin-top: -60px; width:130px;" />
                <p> Address: Any Address</p>
                <p> Phones: Phone1/Phone2</p>
                <p> Hours: from ___ / to ___ </p>
                <p style="margin-bottom: 0px"> Follow Us</p>
                <span class="follow-icons">
                    <a href="#">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </span>
            </div>
            <div class="col-lg-3 col-sm-12 about-col text-center mt-3 border-end">
                <a href="#"><h5 style="font-weight: 900;">My Account</h5></a>
                <a href="#"><p>About Us</p></a>
                <a href="#"><p>Delivery Information</p></a>
                <a href="#"><p>Privacy Policy</p></a>
                <a href="#"><p>Term &amp; Condition</p></a>
                <a href="#"><p>Contact Us</p></a>
            </div>
            <div class="col-lg-3 col-sm-12 text-center mt-3 border-end">
                <a href="#"><h5 style="font-weight: 900;">My Account</h5></a>
                <a href="#"><p>Sign in</p></a>
                <a href="#"><p>View Cost</p></a>
                <a href="#"><p>Privacy Policy</p></a>
                <a href="#"><p>Term &amp; Condition</p></a>
                <a href="#"><p>Help</p></a>
            </div>
            <div class="col-lg-3 col-sm-12 text-cetner mt-3">
                <a class="text-center" href="#"><h5 style="font-weight: 900;">Install app</h5></a>
                <p class="text-center" style="font-weight: 500;"> From App Store or Google Play</p>
                <div class="row">
                    <div class="col app-store-col">
                        <a href="#"><img src="~/pics/app-store-logo.png" class="app-store-logo" /></a>
                    </div>
                    <div class="col google-play-col">
                        <a href="#"><img src="~/pics/Screenshot_17-2-2025_14144_www.bing.com.jpeg" class="app-store-logo" /></a>
                    </div>
                </div>

                <p class="text-center" style="margin-top: 16px; margin-bottom: 8px;"> Payment Methods</p>
                <a href="#"><img src="~/pics/R.png" class="payment-method" /></a>
            </div>
        </div>
    </div>
    <!--End Of Footer-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>