@functions {
    public string IsActive(string controller, string action)
    {
        var currentController = ViewContext.RouteData.Values["controller"].ToString();
        var currentAction = ViewContext.RouteData.Values["action"].ToString();
        return currentController == controller && currentAction == action ? "active" : "";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrendsValley</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <script src="https://kit.fontawesome.com/87ba71bd3b.js" crossorigin="anonymous"></script>
    <link href="~/css/nav.css" rel="stylesheet" asp-append-version="true"/>
</head>
<body>
    <section id="header">
        <a href="view.php"><img src="~/pics/logo.png" alt="logo"></a>
        <!-- Search -->
        <form action="#"
              method="get">
            <div class="col-rt-3 equal-height">
                <div class="sb-example-3">
                    <div class="search__container">
                        <input class="search__input" type="search" placeholder="Need Something ?" aria-describedby="basic-addon2"
                               aria-label="Need Something ?"
                               name="key">
                    </div>
                </div>
            </div>
        </form>
        <!-- End of Search -->
        <div>
            <ul id="navbar">
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li id="krkr">
                    <li>
                    <img src="~/pics/admin.png" class="user-pic" onclick="toggleMenu()">
                    <div class="sub-menu-wrap" id="subMenu">
                        <div class="sub-menu">
                            <a class="sub-menu-link" asp-area="" asp-controller="Auth" asp-action="SignIn">
                                <img src="~/pics/logout.png" alt="">
                                Sign up

                            </a>
                        </div>
                    </div>
                   </li>
                </li>
            </ul>
        </div>
    </section>

<div>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="section-p1">
    <div class="col">
            <img class="logo" src="~/pics/logo.png" alt="">
        <h4> contact</h4>
        <p><strong>Address: </strong> grandplaza towrs, Elamin street, portsaid </p>
        <p><strong>Phone: </strong>+201201055894/+201020749292</p>
        <p><strong>Hours: </strong> 10:00 - 20:00, Sat-thur </p>
        <div class="follow">
            <h4>Follow us</h4>
            <div class="icon">
                    <a class="iconss" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="iconss" href="#"><i class="fab fa-instagram"></i></a>
                    <a class="iconss" href="#"><i class="fab fa-whatsapp"></i></a>
                    <a class="iconss" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="iconss" href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <br>

    </div>
    <div class="col">
        <h4>About</h4>
        <a href="about.php">About Us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Term & conditions</a>
        <a href="#">Contact Us</a>
    </div>
    <div class="col">
        <h4>My Account</h4>
        <a href="login.php">Sign In</a>
        <a href="cart.php">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
    </div>
    <div class="col install">
        <h4> Install App</h4>
        <p> From App Store or Google Play</p>
        <div class="row">
                <a href="google.com"><img src="~/pics/app.jpg" alt=""></a>
                <a href="apple.com"><img src="~/pics/play.jpg" alt=""></a>
    </div>
        <p> Secured Payment Gateways</p>
            <img src="~/pics/pay.png" alt="">
    </div>
    <div class="copyright">
        <p> 2024, Mohamed Gasser - Clothes Store Project</p>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
    <script>
        let subMenu = document.getElementById("subMenu");
        function toggleMenu(){
            subMenu.classList.toggle("open-menu");
        }
    </script>
</body>
</html>